.password_generator {
  max-width: 28.625rem;
  width: 100%;
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  letter-spacing: -0.02em;
  margin: 1rem;
  & &_title {
    font-weight: 700;
    font-size: 24px;
    margin-top: 1rem;
  }
  & &_characters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &_text {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      :nth-child(1) {
        font-size: 1rem;
      }
      :nth-child(2) {
        font-size: 1.5rem;
      }
    }
  }
  & &_slider {
    cursor: pointer;
    height: 0.25rem;
    border-radius: 5rem;
    width: 100%;
    background-color: #ddd;
  }
  & &_include {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    > div {
      display: flex;
      gap: 0.75rem;
      color: var(--color-body);
      font-size: 0.875rem;
      input {
        cursor: pointer;
      }
    }
  }
  & &_strength {
    background: var(--color-grey);
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media (max-width: 380px) {
      padding: 1rem;
    }
    &_text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > :nth-child(1) {
        font-weight: 700;
      }
      > :nth-child(2) {
        font-weight: 600;
        color: var(--color-body);
        font-size: 0.875rem;
      }
    }
    &_tiles {
      display: flex;
      gap: 7px;
      .Low {
        background: var(--color-red);
      }
      .Average {
        background: var(--color-yellow);
      }
      .High {
        background: var(--color-green);
      }
    }
    &_tile {
      width: 25%;
      height: 0.375rem;
      background: #e2e2e2;
      border-radius: 90px;
    }
  }
  & &_result {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    border: 1px solid var(--color-stroke);
    border-radius: 0.75rem;
    padding: 1rem 1.5rem;
    > div {
      width: 100%;
    }
    img {
      cursor: pointer;
      width: 1.25rem;
      height: 1.25rem;
    }
  }
  & &_copy {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
    color: white;
    background: var(--color-black);
    padding: 1.125rem;
    border-radius: 0.75rem;
    cursor: pointer;
    img {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
  & &_copy:hover {
    background: #414253;
  }
}
input[type="checkbox"] {
  background-repeat: no-repeat;
  background-position: center;
  width: 1.125rem;
  height: 1.125rem;
  border: none; /* remove default checkbox border */
  -webkit-appearance: none; /* remove default iOS styling */
  -moz-appearance: none; /* remove default Firefox styling */
  appearance: none; /* remove default styling */
  border: 1px solid var(--color-stroke);
  border-radius: 0.375rem;
}

input[type="checkbox"]:checked {
  background-image: url("../../../assets/images/Vector.png");
  background-color: var(--color-primary);
}

input[type="range"] {
  /* Set the height of the track and thumb */
  height: 10px;
  /* Remove the default track styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ccc;
  border-radius: 5px;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  /* Set the dimensions of the thumb */
  width: 20px;
  height: 20px;

  /* Set the background color and shape of the thumb */
  background-color: var(--color-primary);
  border-radius: 50%;

  /* Set the appearance of the thumb */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Add a white border around the thumb */
  border: 5px solid #fff;

  /* Add a blue dot in the center of the thumb */
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1), 0px 7px 7px rgba(0, 0, 0, 0.04);
}

input[type="range"]::-moz-range-thumb {
  /* Set the dimensions of the thumb */
  width: 20px;
  height: 20px;

  /* Set the background color and shape of the thumb */
  background-color: var(--color-primary);
  border-radius: 50%;

  /* Set the appearance of the thumb */
  -moz-appearance: none;
  appearance: none;

  /* Add a white border around the thumb */
  border: 5px solid #fff;

  /* Add a blue dot in the center of the thumb */
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1), 0px 7px 7px rgba(0, 0, 0, 0.04);
}
